/* my magic mirror basic css */
html {
  font-family: monospace;
  background-color: black;
  color: white;
}
.top {
  position: absolute;
  top: 1%;
}
.center {
  position: absolute;
  top: 50%;
}
.bottom {
  position: absolute;
  bottom: 1%;
}
.left {
  position: absolute;
  left: 1%;
}
.right {
  position: absolute;
  right: 50%;
}
.middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
